.layout {
  width: 100vw;
  height: 100vh;
}

.layout-header {
  width: 100%;
  height: 48px;
  background-color: skyblue;
  line-height: 48px;
}

.layout-content {
  display: flex;
}

.layout-aside {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: calc(100vh - 48px);
  background-color: pink;
}

.layout-article {
  flex: 1;
  padding: 20px;
  background-color: #f6f6f6;
}

.active-link {
  color: blue;
}
